# Tutoriel sur Pandas

## Importer Pandas

In [2]:
import pandas as pd
from pandas import DataFrame,read_csv

## Charger des données

In [3]:
#Emplacement des compteurs avec la correspondance pour les noms dans les fichiers de comptage.
#http://donnees.ville.montreal.qc.ca/dataset/f170fecc-18db-44bc-b4fe-5b0b6d2c7297/resource/c7d0546a-a218-479e-bc9f-ce8f13ca972c/download/localisation_des_compteurs_velo.csv

Location = r'C:\Users\Admin\donnees\localisation_des_compteurs_velo.csv'
df = pd.read_csv(Location)

In [4]:
df

,ID,Ancien_ID,Nom,Statut,Latitude,Longitude,Annee_implante
0,100041114,NaN,Eco-Display Parc Stanley,Actif,45.557593,-73.673222,2018.0
1,100002880,10.0,Pont Jacques-Cartier,Actif,45.525508,-73.554422,2011.0
2,100003032,3.0,Berri1,Actif,45.516216,-73.562970,2010.0
3,100003034,6.0,Rachel / Papineau_VAS_DirectionOuestSeulement,Unidirectionnel,45.530448,-73.569540,2007.0
4,100003039,5.0,Maisonneuve_2_EnMaintenance,En maintenance,45.500507,-73.574970,2008.0
5,100003040,12.0,Pierre-Dupuy,Actif,45.501270,-73.544410,2010.0
6,100003041,8.0,CSC (Côte Sainte-Catherine)_EnMaintenance,En maintenance,45.514900,-73.607506,2010.0
7,100003042,22.0,Parc,Actif,45.513850,-73.581510,2010.0
8,100004575,2.0,Brébeuf,Actif,45.527496,-73.574320,2009.0
9,100007390,37.0,Eco-Display - Métro Laurier,Actif,45.527772,-73.588832,2013.0
10,100011747,14.0,Saint-Antoine,Actif,45.506250,-73.557785,2013.0
11,100011748,36.0,René-Lévesque_EnMaintenance,En maintenance,45.516968,-73.554040,2013.0
12,100011783,17.0,Maisonneuve_3,Actif,45.470493,-73.609566,2013.0
13,100012217,23.0,Rachel / HôteldeVille_VAS_DirectionOuestSeulement,Unidirectionnel,45.519620,-73.580250,2013.0
14,100012218,29.0,Boyer,Actif,45.533650,-73.594590,2013.0
15,100017441,7.0,University,Actif,45.506134,-73.575870,2013.0
16,100017523,1.0,Saint-Urbain,Actif,45.519395,-73.588663,2014.0
17,100025474,NaN,Saint-Laurent/Bellechasse,Actif,45.527820,-73.603112,2016.0
18,100034805,NaN,Gouin / Lajeunesse,Actif,45.557661,-73.673425,2017.0
19,100035408,NaN,Boyer 2,Actif,45.543461,-73.616683,2017.0
20,100035409,NaN,Christophe-Colomb_PisteEnSitePropre,Actif,45.557730,-73.646620,2017.0
21,100041101,NaN,Edmond Valade,Actif,45.541680,-73.684480,2017.0
22,100001753,18.0,Notre-Dame,Actif,45.530216,-73.544426,2013.0
23,100047030,15.0,Viger,Actif,45.506009,-73.559603,NaN
24,100052600,NaN,Rachel 3 (Angus)_VAS_DirectionOuestSeulement,Unidirectionnel,45.543277,-73.561907,2019.0
25,100052601,NaN,Pont Ile Bizard,Actif,45.486222,-73.866064,2019.0
26,100052602,NaN,Pont Le Gardeur,Actif,45.700896,-73.483252,2019.0
27,100052603,NaN,Piste Des Carrières,Actif,45.534160,-73.591464,2019.0
28,100052604,NaN,Estacade,Actif,45.466751,-73.533825,2019.0
29,100052605,NaN,Notre Dame 3 (Bellerive),Actif,45.591929,-73.510007,2019.0
30,100052606,NaN,Bennett,Actif,45.555084,-73.538819,2019.0
31,100053055,NaN,Sainte-Croix,Actif,45.511742,-73.672531,2019.0
32,100053057,NaN,Bord-du-Lac vers est_EnMaintenance,En maintenance,45.446922,-73.782791,2019.0
33,100053058,NaN,Bord-du-Lac vers ouest_EnMaintenance,En maintenance,45.446994,-73.782642,2019.0
34,100053059,NaN,Valois,Actif,45.546844,-73.542388,2019.0
35,100053210,NaN,Souligny,Actif,45.595538,-73.520435,2019.0
36,100054073,NaN,16e Avenue (@Bélanger),Actif,45.560713,-73.590636,2019.0
37,100055268,NaN,Rachel 4 (@ Pie IX),Actif,45.553647,-73.555760,2020.0
38,100056188,NaN,Maisonneuve 4,Actif,45.521334,-73.555499,2019.0
39,100057050,NaN,Maurice-Duplessis,Actif,45.659130,-73.542483,2019.0
40,100057051,NaN,Querbes / St-Roch,Actif,45.530164,-73.629428,2019.0
41,100057052,NaN,Wellington / Charlevoix,Actif,45.473888,-73.561831,2019.0
42,100057053,NaN,Maisonneuve 5,Actif,45.473706,-73.604862,2019.0
43,100057500,4.0,Maisonneuve 1 (@Berri),Actif,45.514925,-73.561379,2008.0
44,38,38.0,Parc U-Zelt Test,Inactif,45.513700,-73.582210,2015.0
45,39,39.0,Saint-Laurent U-Zelt Test,Inactif,45.527820,-73.603110,2015.0

## Utiliser l'index

In [5]:
df[:3]

,ID,Ancien_ID,Nom,Statut,Latitude,Longitude,Annee_implante
0,100041114,NaN,Eco-Display Parc Stanley,Actif,45.557593,-73.673222,2018.0
1,100002880,10.0,Pont Jacques-Cartier,Actif,45.525508,-73.554422,2011.0
2,100003032,3.0,Berri1,Actif,45.516216,-73.562970,2010.0

In [6]:
df[5::-1]

,ID,Ancien_ID,Nom,Statut,Latitude,Longitude,Annee_implante
5,100003040,12.0,Pierre-Dupuy,Actif,45.501270,-73.544410,2010.0
4,100003039,5.0,Maisonneuve_2_EnMaintenance,En maintenance,45.500507,-73.574970,2008.0
3,100003034,6.0,Rachel / Papineau_VAS_DirectionOuestSeulement,Unidirectionnel,45.530448,-73.569540,2007.0
2,100003032,3.0,Berri1,Actif,45.516216,-73.562970,2010.0
1,100002880,10.0,Pont Jacques-Cartier,Actif,45.525508,-73.554422,2011.0
0,100041114,NaN,Eco-Display Parc Stanley,Actif,45.557593,-73.673222,2018.0

## Changer nom des colonnes

`DataFrame.rename(self, mapper=None, index=None, columns=None, axis=None, copy=True, inplace=False, level=None, errors='ignore')`

In [7]:
# Ancien_ID pour Ancien ID
df = pd.DataFrame({"ID": [100041114, 100002880, 100003032], "Ancien_ID": ["NaN", 10.0, 3.0], "Nom": ["Eco-Display Parc Stanley", "Pont Jacques-Cartier", "Berri"]})
df.rename(columns={"Ancien_ID": "Ancien ID"})

          ID Ancien ID                       Nom
0  100041114       NaN  Eco-Display Parc Stanley
1  100002880        10      Pont Jacques-Cartier
2  100003032         3                     Berri

In [8]:
df[:3].rename(index={0: "Premier", 1: "Deuxieme", 2: "Troisieme"})

                  ID Ancien_ID                       Nom
Premier    100041114       NaN  Eco-Display Parc Stanley
Deuxieme   100002880        10      Pont Jacques-Cartier
Troisieme  100003032         3                     Berri

In [9]:
df[:3].rename(str.lower, axis='columns')

          id ancien_id                       nom
0  100041114       NaN  Eco-Display Parc Stanley
1  100002880        10      Pont Jacques-Cartier
2  100003032         3                     Berri

In [10]:
df[:3].rename({0: 1, 1: 2, 2: 3}, axis='index')

          ID Ancien_ID                       Nom
1  100041114       NaN  Eco-Display Parc Stanley
2  100002880        10      Pont Jacques-Cartier
3  100003032         3                     Berri

## Remplacer des chaînes de caractères
`Series.str.replace(pat, repl, n=-1, case=None, regex=True)`

In [11]:
df.iloc[27]

IndexError: single positional indexer is out-of-bounds

In [1]:
df["Nom"] = df["Nom"].str.replace('è', 'e')
df["Nom"] = df["Nom"].str.replace(',', 'e')
df["Nom"] = df["Nom"].str.replace('_', ' ')

df

NameError: name 'df' is not defined